h1{
    text-align: center;
    }

body{
    background-color: rgba(210, 210, 235, 0.849);
    }



.contenedor-img {
    display: flex;
    align-items: center;
    gap: 500px; 
    flex-direction: row;  
}
.usm {
    width: 200px;
    height: auto;
    align-items: center;    
}
.inacap{    
    width: 200px;
    height: auto;
    align-items: center;

}

.sky{
    width: 200px;
    height: auto;
    align-items: center;
}

.contenedor-usm {
    display: flex;
    align-items: center;
    gap: 290px; 
    flex-direction: row;  
}